.form {
	&__group:not(:last-child) {
		margin-bottom: 3rem;
	}
	
	
	&__input {
		font-size: 1.5rem;
		font-family: inherit;
		color: inherit;
		padding: 1.5rem 2rem;
		border-radius: 2px;
		background-color: rgba($color-white, .5);
		border: none;
		//ovo nam daje da dole definisani focus ne pomera element za 3px
		border-bottom:  3px solid transparent;
		width: 90%;
		display: block;
		transition: all .3s;

		@include respond(tab-port) {
			width: 100%;
		}

		&:focus {
			outline: none;
			box-shadow:  0 1rem 2rem rgba($color-black, .1);
			border-bottom:  3px solid $color-primary;
		}

		//ovo zahvaljujuci googlu i njihovom sistemu validacije radi 
		//bez dodavanja javascripta, ako nam je polje "invalid"


		&:focus:invalid {
			border-bottom:  3px solid $color-danger;
		}

		//ovo nan samo radi u chromu i na safariju
		//menja nam boju kada pocnmeo da kucamo u polju

		&::webkit-input-placeholder {
			color: $color-grey-dark-2;
		}
	}

	
	
	

	&__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: .7rem;
		display: block;
		transition: all .3s;
	}

	// uz pomoc ~ selektujemo i label posto label nije child od 
	// od inputa nego je sibling i ovo nam radi da nam se kada ukucamo
	// podatak tek onda pojavi label a da do tada bude nevidljiv

	&__input:placeholder-shown ~ &__label{
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	&__radio-group {
		width: 49%;
		display: inline-block;

		@include respond(tab-port) {
			width: 100%;
			margin-bottom: 2rem;
		}
	}

	// ov dodojemo kada konstruisemo nase novo dugme
	// da sakrijemo difoltno dugme

	&__radio-input {
		display: none;
	}


	&__radio-label {
		font-size: $default-font-size;
		cursor: pointer;
		position: relative;
		padding-left: 5rem;
	}

	&__radio-button {
		height: 3rem;
		width: 3rem;
		border: 5px solid $color-primary;
		border-radius: 50%;
		display: inline-block;
		// ova pozicija nam sluzi i posle kad je roditelj 
		//umesto relative moze da bude absolut a nam je absolut
		// i potrebna jos i zbog pozicioniranja
		position: absolute;
		left: 0;
		top: 0.4rem;
		

		// kreiramo krugic unutra "button-a"
		&::after {
			content:"";
			display: block;
			height: 1.3rem;
			width: 1.3rem;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left:50%;
			transform: translate(-50%, -50%);
			background-color: $color-primary;
			opacity: 0;
			transition: all .2s;
		}
	}
		// da nam krugic pojavljuje kada cekiramo

		&__radio-input:checked ~ &__radio-label &__radio-button::after {
			opacity: 1;
		}
}

